/*--------------
External stylesheet for my microsite.
  --------------*/

/*--------------
  Reset
  --------------*/
           *{
               margin: 0;
               padding: 0;
           }


    body {
        background-image: url(../img/1.jpg);
        background-repeat: no-repeat;
        background-color: #cccccc;
        background-size: cover;
        background-position: right;
    }


 /*--------------
  Color & style
  --------------*/
         

 /*--------------
  Navigation
  --------------*/

/*--------------
  Layout
  --------------*/
           div {
               padding: 30px;
           }
           
       
           
           h1, h2, h3 {
               display: flex;
               width: 100%;
               font-family: sans-serif;
           }

 /**-------------
layout-Header
--------------**/
header {
    height: 10%vh;
    font-size: 20px;
}

 /**-------------
Layout-Content
--------------**/
main{

    height: 80vh;
    font-size: 20px;
    }


 /**-------------
Layout-Footer
--------------**/

Footer {
    height: 10%vh;
    font-size: 20px;
}

  /*--------------
  Tropogrophy
  --------------*/