/*--------------
External stylesheet for my microsite.
  --------------*/

/*--------------
  Reset
  --------------*/
           *{
               margin: 20px 0px 20px 0px;
               padding: 0px;
               box-sizing: border-box;
           }


    body {
        background-image: url(../img/2.jpg);
        background-repeat: no-repeat;
        background-color: #cccccc;
        background-size: cover;
        background-position: right;
        background-attachment: fixed;

    }


 /*--------------
  Color & style
  --------------*/
         

 /*--------------
  Navigation
  --------------*/

/*--------------
  Layout
  --------------*/

           
       
           
           h1, h2, h3 {
               display: flex;
               width: 100%;
               height: auto;
               font-family: sans-serif;
           }

 /**-------------
layout-Header
--------------**/
header {
    height: 10vh;
    font-size: 2.2em;
    

}

header p {
color:aliceblue;
background-color: rgb(85,107,47);
margin-right: 30vw;
margin-left: 0vw;
padding: 0.2em;
}

 /**-------------
Layout-Content
--------------**/
main{

    height: 60vh;
    font-size: 2em;
    padding: 50px 100px 50px 80px;
    }

body > div {
    transition: all 10s ease;
    background: none;
    position: relative;
    width: 150px;
    height: 50px;
    
  
}

 /**-------------
Layout-Footer
--------------**/

footer {
    
    height: 10vh;
    font-size: 2.2em;
    
   
    
    }

footer p {
    color:aliceblue;
    background-color: rgb(85,107,47);
    text-align: end;
    margin-right:0vw;
    margin-left: 15vw;
    padding: 0.2em;
 
}

  /*--------------
  Tropogrophy
  --------------*/