 /**-------------
general styles for final projects.
 --------------*/


  /**-------------
  Reset
   --------------*/
           *{
                padding: 0;
                   margin: 0px 0px 0px 0px;
                   
}


 /*--------------
  Color & style
  --------------*/



 /*--------------
  Navigation
  --------------*/

/*--------------
  Layout
  --------------*/
   
h1 {
    padding: 80px; 
}
h2 {
    
}

 /**-------------
layout-Header
--------------**/

#my-header {
  background-color: darkblue;
  color: white;
  height: 15vh;
  text-align: center;

}
              

 /**-------------
Layout-Content
--------------**/

               main{
                   height: 75vh;
               }
              .profile  {
                   height: 20vh;
                   background-color: blue;
                    color: white;
                  margin: 20px;
                  padding: 20px;
                  
               }              

 /**-------------
Layout-Footer
--------------**/
#my-footer {
  background-color: darkblue;
  color: white;
  height: 5vh;
  text-align: left;
 }   
/*--------------
 
--------------**/

