 /**-------------
general styles for final projects.
 --------------*/


  /**-------------
  Reset
   --------------*/
           *{
                   margin: 0;
                   margin: 0px 0px 0px 0px;
                   padding: 5px;
                  


 /*--------------
  Color & style
  --------------*/



 /*--------------
  Navigation
  --------------*/

/*--------------
  Layout
  --------------*/
           

 /**-------------
layout-Header
--------------**/

#myHeader {
  background-color: darkblue;
  color: white;
  height: 30px;
  padding: 40px;
  text-align: center;
display: block;
}


              

 /**-------------
Layout-Content
--------------**/


 /**-------------
Layout-Footer
--------------**/


/*--------------
 
--------------**/

