 /**-------------
general styles for final projects.
 --------------*/


  /**-------------
  Reset
   --------------*/
           *{
                   margin: 0;
                   margin: 20px 0px 20px 0px;
                   padding: 0;
                   box-sizing: border-box;
           }




  

    }


 /*--------------
  Color & style
  --------------*/
         

 /*--------------
  Navigation
  --------------*/

/*--------------
  Layout
  --------------*/
           

 /**-------------
layout-Header
--------------**/


 /**-------------
Layout-Content
--------------**/


 /**-------------
Layout-Footer
--------------**/


/*--------------
 
--------------**/

